In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"D:\Imarticus Learning\DATASETS\titanic3.csv")

In [6]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [7]:
df = df.drop(['name','ticket','cabin','home.dest','boat','body'],axis = 1)

In [8]:
df.isnull().sum()[df.isnull().sum() > 0]

age         263
fare          1
embarked      2
dtype: int64

In [9]:
df.age.fillna(df.age.mean(),inplace = True)
df.fare.fillna(df.fare.mean(),inplace = True)
df.embarked.fillna('S',inplace = True)

In [10]:
df.isnull().sum()[df.isnull().sum() > 0]

Series([], dtype: int64)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   sex       1309 non-null   object
 3   age       1309 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   fare      1309 non-null   float64
 7   embarked  1309 non-null   object
dtypes: float64(2), int64(4), object(2)
memory usage: 81.9+ KB

In [12]:
df.select_dtypes(include = 'object').columns

Index(['sex', 'embarked'], dtype='object')

In [13]:
df.sex.replace({'female':0, 'male':1},inplace = True)

In [14]:
df['sex']=df['sex'].astype(int)

In [15]:
df.select_dtypes(include = 'object').columns

Index(['embarked'], dtype='object')

In [16]:
df.embarked.replace({'S':0, 'C':1, 'Q':2},inplace = True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   sex       1309 non-null   int32
 3   age       1309 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   fare      1309 non-null   float64
 7   embarked  1309 non-null   int64
dtypes: float64(2), int32(1), int64(5)
memory usage: 76.8 KB

In [18]:
df

      pclass  survived  sex        age  sibsp  parch      fare  embarked
0          1         1    0  29.000000      0      0  211.3375         0
1          1         1    1   0.916700      1      2  151.5500         0
2          1         0    0   2.000000      1      2  151.5500         0
3          1         0    1  30.000000      1      2  151.5500         0
4          1         0    0  25.000000      1      2  151.5500         0
...      ...       ...  ...        ...    ...    ...       ...       ...
1304       3         0    0  14.500000      1      0   14.4542         1
1305       3         0    0  29.881135      1      0   14.4542         1
1306       3         0    1  26.500000      0      0    7.2250         1
1307       3         0    1  27.000000      0      0    7.2250         1
1308       3         0    1  29.000000      0      0    7.8750         0

[1309 rows x 8 columns]

In [19]:
from sklearn.model_selection import train_test_split
train_df , test_df= train_test_split(df,test_size=.2)

In [20]:
train_df_x=train_df.iloc[:,[0,2,3,4,5,6]]
train_df_y=train_df.loc[:,'survived']

In [21]:
test_df_x=test_df.iloc[:,[0,2,3,4,5,6]]
test_df_y=test_df.loc[:,'survived']

In [22]:
from sklearn.tree import DecisionTreeClassifier
dec=DecisionTreeClassifier()
dec.fit(train_df_x,train_df_y)

DecisionTreeClassifier()

In [23]:
pred_test=dec.predict(test_df_x)

In [24]:
from sklearn.metrics import confusion_matrix

In [25]:
tab1=confusion_matrix(test_df_y,pred_test)

In [26]:
tab1

array([[124,  28],
       [ 32,  78]], dtype=int64)

In [27]:
from sklearn.metrics import precision_score , recall_score, f1_score, accuracy_score,classification_report

In [28]:
print(classification_report(test_df_y,pred_test))

              precision    recall  f1-score   support

           0       0.79      0.82      0.81       152
           1       0.74      0.71      0.72       110

    accuracy                           0.77       262
   macro avg       0.77      0.76      0.76       262
weighted avg       0.77      0.77      0.77       262

In [ ]:
# probability the both model logistic and decision are same